<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>
<body>
<section>
  <div class="container login-container">
    <div class="row">
      <div class="col-md-6 offset-md-3 login-form-1" style="height: 300px;">
        <h1 class="text-center mt-1">Enter New Password</h1>
        <form th:action="@{/change-password}" method="post">
          <div class="form-group mt-2">
            <input name="newpassword" type="password" placeholder="Enter Your New Password" class="form-control" required>
          </div>
          <div class="container text-center mt-3">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </form>
      </div>
    </div>
</section>
</body>
</html>